.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    width: 35%;
    
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.btn-greencolor{
    background-color:#31C16C;
}

.btn-greencolor:hover{
    background-color:#248f51;
}