/*******************NAV***************************/

#navDivider {
    border-left: 3px solid #ffce00; 
    height: 30px; 
    margin-top: 5px;
    pointer-events: none;
    cursor: default;
}
#navbar ul li a{
    border-bottom: 2px solid transparent;
}

#navbar ul li a:hover{
    border-bottom:#ffce00 2px solid;
    margin: 0;
}

hr.divider{
      border-top: 15px solid #2C3E4C;
      margin:0;
      opacity: 100;
}

.container-fluid{
    width: 90%;
}

.titulo{
    color: #2C3E4C;
}
.texto{
    text-align: justify;
}
.icones{
    margin-right: 15vw;
    margin-left: 15vw;
}

.card-img-top{
    width: 90px;
    height: 90px;
}

.card{

    margin-top:30px; 
    margin-bottom: 10px;
}

.container-seccao{
    margin: 0px;
    padding: 0px;
    max-width: 100vw;
    
}

.projetos{
    margin-left: 10vw;
    margin-right: 10vw;
}



.botaoVerMaisInicio{
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 70%;
    margin-right: auto;
    background-color: #31C16C;
    border:none;
}
.botao-card{
    position: absolute;
    bottom: 20px;
    width: 50%;
    margin-left: 20%;
    margin-right: auto;
    background-color: #31C16C;
    border:none;
 }

#mapa{
    margin-left:0;
    margin-right: 0;
    border-bottom: none;
}

.contactos-texto{
    margin-top: 5vh;
}
.image-icone{
    width: 25px;
    color: #31C16C;
    margin: 10px;
}

.botao-form{
    float: right;
    border:none;
    background-color: #31C16C;
}

hr.divisor-rodape{
    border-top: 30px solid #31C16C;
    margin-bottom: 0;
    margin-left:0;
    margin-right: 0;
    margin-top: 10vh;
    opacity: 100;
}

footer{
    background-color:#2C3E4C ;
}

.rodape{
    padding-top: 10vh;
    padding-bottom: 1vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.menu-rodape p a:hover {
    color: #31C16C;
}
.imagem{
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.perfil{
    padding:5px; 
    border-bottom:#ccc 1px solid;
}

.infoPerfil{
    padding-left: 20px;
}

@media (max-width: 992px) {
    #navDivider{
        display: none;
    }

  }

@media (min-width: 992px) {
    .container-fluid{
        padding: 0 32px;
    }
   
}


@media (max-width: 767px) {
   
    .icones{
        margin-right: 20px;
        margin-left: 20px;
    }
    .botaoVerMaisInicio{
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: 80%;
        margin-right: auto;
        background-color: #31C16C;
        border:none;
    }

    .card-projetos{

        margin-top:30px; 
        margin-bottom: 10px;
    }
    .card-img-top {
        width: 79px;
        height: 79px;
    }
    .formulario-contactos{
        margin-top: 30px;
    }

  }
  @media (max-width: 450px) {
    
    .botaoVerMaisInicio{
        position: relative;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: 70%;
        margin-right: auto;
        background-color: #31C16C;
        border:none;
    }
  }
 